* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
}

.container_img_coche {

  background-image: url(/img/welcome-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 95vh;


}

.sombra {
  background-color: rgba(56, 67, 131, 0.486);
  height: 95vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
}

/* .container_nav {
  position:fixed;
  width: 100%;
}
 */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: right;
}

#logo {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.super_container_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_title {
  margin-top: 13%;
  text-align: center;
  max-width: 60%;
}

.title {
  margin-bottom: 30px;
  font-size: 30px;
  color: white;
}

.container_subtitle {
  padding-left: 15%;
  padding-right: 15%;

}

.subtitle {
  margin-bottom: 30px;
  color: white;
}

.btn_contact {
  background-color: rgb(68, 57, 216);
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 2px;
}

.container_flotante {
  position: absolute;
  z-index: 5;
  top: 80%;
  height: 300px;
  background-color: white;
  width: 70%;
  box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;

}


.btn_search {
  background-color: rgb(68, 57, 216);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 2px;
}

select {
  padding: 10px;
  width: 220%;
  border-radius: 2px;
  border: none;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: rgb(243, 243, 243);
}

.container_car {
  margin-top: 250px;
  margin-left: 250px;
  margin-right: 250px;
  display: flex;

  justify-content: space-around;
  gap: 20px;
  align-items: center;

  justify-content: center;


}

.largest_car {
  width: 300px;
  padding: 5px;
  border: 1px solid rgba(77, 76, 76, 0.205);
  padding: 30px;
  height: 200px;
  border-radius: 3px;
}

.unlimited_repair {
  max-width: 285px;
  border: 1px solid rgba(77, 76, 76, 0.205);
  border-radius: 3px;
  padding: 25px;
  height: 200px;
}

.insurence_suport {
  width: 300px;
  border: 1px solid rgba(77, 76, 76, 0.205);
  border-radius: 3px;
  padding: 25px;
  height: 200px;
  border-radius: 3px;
}

.car1_img {
  background-image: url(../img/icon_cars/img_car1.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
}


.car2_img {
  background-image: url(../img/icon_cars/img_car2.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
}

.car3_img {
  background-image: url(../img/icon_cars/img_car3.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
}