* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container_img_coche {

  background-image: url(/img/img_coche_portada.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 95vh;


}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: right;
}

#logo {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.super_container_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_title {
  margin-top: 12%;
  text-align: center;
  max-width: 60%;
}

.title {
  margin-bottom: 30px;
  font-size: 30px;
  color: white;
}

.container_subtitle {
  padding-left: 15%;
  padding-right: 15%;

}

.subtitle {
  margin-bottom: 30px;
  color: white;
}

.btn_contact {
  background-color: rgb(68, 57, 216);
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 2px;
}
